<a href="/home">Back</a>
<script src="javascript/recipe.js"></script>
<h2>Add a New Recipe</h2>
<form method="POST" action="/recipes">
    Name: <input type="text" name="recipeName"><br>
    Ingredients: <ul id="addIngredients"></ul>
    Steps: <ol id="addSteps"></ol>
    <input type="submit" value="submit">
</form>

