{{!-- <form method="POST" action="/">
    Ingredient: <input type="text" name="name">
    Quantity: <input type="number" name="quantity">
    <input type="submit" value="Submit">
</form>

<ul>
    {{#each list as |item|}}
        <li>{{item.ingredient}} : {{item.quantity}}</li>
    {{/each}}
</ul> --}}
<a href="/createList">Add List</a>
<a href="/myLists">My Lists</a>
<a href="/logout">Logout!</a>