<ul>
    <li><a href="/createList">Add List</a></li>
    <li><a href="/myLists">My Lists</a></li>
    <li><a href="/addRecipe">Add Recipe</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/logout">Logout!</a></li>
</ul>