<a href="/myLists">Back</a>


<h1>{{list.name}}</h1>

<div class="table">
    <table>
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
        </tr>
        {{#each list.items as |ingredient|}}
        <tr>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.quantity}}</td>
        </tr>
        {{/each}}
    </table>
</div>